 /* JW's Awesome Custom Styles */

#art .btn-outline { 
    border-color:#8BCFD8;
    color:#8BCFD8;
}
h2, h3.divider {       
    background-image: url('/img/petsitta-divider.png');
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    padding-top:45px;     
    padding-bottom:20px; 
    margin-bottom:40px; 
    margin-top:5px;
} 
hr { 
    height: 80px;
    background-image: url('/img/petsitta-divider-lg.png');
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 40px 0 40px 0;
    border:0;
}
.portfolio-modal .modal-content { 
    border: 1px solid silver;
    background-color: rgba(255, 255, 255, .5)
     
}   
.portfolio-modal .modal-content .container {
    
    background-color:#fff;
}
.btn-tab:success { 
    color:red;
}
.form-panel { 
    padding-top:18px;
    padding-bottom:24px;    
}
#about-pet, #about-you {
    min-height:430px;
}
